<footer role="contentinfo">
  <div class="container">
    <div class="links-grid clearfix">
      <ul>
        <li><a href="/accessibility/">Accessibility</a></li>
        <li><a href="/privacy/">Privacy</a></li>
        <li><a href="/terms/">Terms</a></li>
      </ul>

      <ul>
        <li><a href="https://facebook.com/ed.music.society">Facebook</a></li>
        <li><a href="https://twitter.com/edmusicsociety">Twitter</a></li>
        <li><a href="http://www.last.fm/music/Edinburgh+University+Music+Society">Last.fm</a></li>
        <li><a href="http://www.youtube.com/user/edmusicsociety">YouTube</a></li>
        <li><a href="http://www.linkedin.com/groups/Edinburgh-University-Music-Society-4889482">LinkedIn</a></li>
      </ul>

      <ul>
        <li><a href="/blog/">Blog</a></li>
        <li><a href="/music-library/">Music Library</a></li>
        <li><a href="/feed.xml">RSS</a></li>
        <li><a href="/history/">Society history</a></li>
      </ul>
    </div>

    <p>Copyright &copy; 2014 Edinburgh University Music Society | All rights reserved</p>
    <p>Design by <a href="http://harry.garrood.me">Harry Garrood</a> and <a href="http://garethdennis.co.uk">Gareth Dennis</a></p>
  </div>
</footer>
