<header role="banner">
  <div class="container">
    <h1 class="clearfix">
      <a href="/">
        <img src="/assets/img/eums-logo.svg" alt="Edinburgh University Music Society" class="logo" width="146" height="83">
        <span class="logo logo-text"></span>
      </a>
      <span class="visuallyhidden">Edinburgh University Music Society</span>
    </h1>

    <div id="search-form" class="clearfix">
      <form id="search-form" action="/search/" method="get">
        <input type="text" id="search-query" name="q" placeholder="Search"
        autocomplete="off">
      </form>
    </div>

    <p class="tagline">
      Scotland's foremost student music body since 1867
    </p>
  </div>
</header>
