/* base */
body {
    font: normal 100% "Trebuchet MS", Arial, Helvetica, sans-serif;
}

.publication-date {
    font-style: italic;
    margin-top: 0.5em;
    margin-bottom: 2em;
    margin-left: 1em;
    color: $fg-lighter;
}

h2 {
    font-size: 170%;
    margin-bottom: 0.25em;
}

h3 {
    font-size: 130%;
}

.newsletter-summary {
    font-size: 115%;
    font-weight: bold;
}

a, a:visited {
    color: $fg-red;
    text-decoration: none;
    font-weight: bold;
}

a:focus {
    background-color: $selection;
    outline: 3px solid $selection;
}

a:hover {
    text-decoration: underline;
}

.hero {
    font-size: 150%;
    text-align: center;
}

kbd {
    background: $bg-lgrey;
    border-radius: 3px;
    border: 1px solid $bg-dgrey;
    padding: 1px;
}

/* blog archive */
ul.blog-archive {
    padding-left: 1em;
    margin-bottom: 2em;
}

ul.blog-archive li {
    font-size: 110%;
    margin-bottom: 0.5em;
    list-style-type: none;
}

/* concert programmes */
.concert-programme {
	margin: 1.2em 0 1.2em 2em;

	.composer {
		font-weight: bold;
	}

    .item:not(:last-child) {
      padding-bottom: 0.8em;
    }
}

/* committee */
.committee-members {
    border: 1px solid $bg-lgrey;

    .row {
        padding: 0.25em;
    }

    .row:nth-child(odd) {
        background-color: $bg-lgrey;
    }
}

/* events on What's On page */
.whats-on-events {
    margin-bottom: 1.5em;
}

.whats-on-events h3 {
    margin-top: 0.25em;
    margin-bottom: 0.25em;
}


/* layout */
body {
    overflow-y: scroll;
}

.container {
    max-width: 56em;
    margin-left: auto;
    margin-right: auto;
    padding: 0 2em 0 2em;
}

ul.container {
    padding: 0;
}

.col-two {
    // don't display on mobile
    display: none;
}

#nav-search { display: block; }
#header-search { display: none; }

.search-form {
    color: $fg;
    padding: 0.5em;

    input {
        border-radius: 0.7em;
        border: none;
        padding: 0 2em 0 1em;
    }
}

.not-found-search input {
    border: 2px solid $bg-red;
}

#search-entries em {
    color: $fg-lighter;
}

.search {
    background: url('/assets/img/search.svg') no-repeat scroll #fff;
    background-position: top 50% right 3%;
}

header[role="banner"] {
    background: $bg-red;
    color: white;

    img {
        background: $bg-red;
        color: white;
    }

    h1 {
        margin: 0;
        padding-top: 0.6em;
        width: 100%;

        a:focus {
            outline: none;

            img {
                outline: 3px solid $selection;
            }
        }
    }

    .logo {
        margin-left: 0;
    }

    .tagline {
        clear: both;
        font-style: italic;
        text-align: right;
        margin: 0;
        padding: 1em 0 0.5em 1em;
    }
}

/* footer */
html {
    position: relative;
    min-height: 100%;
}

body {
    margin: 0 0 $footer-height;
}

main:after {
    padding-bottom: 2em;
}

footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: $footer-height;
    width: 100%;
    clear: both;
    background: $bg-lgrey;

    .container {
        padding: 1em;
    }

    a, a:visited {
        color: $fg;
    }

    .links-grid {
        margin-bottom: 2em;

        ul {
            margin: 0;
            padding: 0;
            float: left;
            width: 32%;
            height: 7em;
            font-size: 90%;

            list-style-type: none;
        }
    } 

    p {
        margin: 0.2em;
    }
}

/* main nav bar */
#toggle, .toggle { display: none; }

nav {
    background: $bg-lgrey;
    position: relative;
    z-index: 2;

    ul {
        list-style: none;
        margin: 0;
        padding: 0;
        background: $bg-lgrey;

        &:last-child {
            border-bottom: 1px solid $bg-dgrey;
        }
    }

    li {
        display: inline-block;
        margin: 0;
        padding: 0;
        text-align: center;

        a, a:visited {
            color: $fg;
            display: inline-block;
            height: 2em;
            line-height: 2em;
            text-decoration: none;
            padding-left: 1em;
            padding-right: 1em;
        }

        a:hover {
            text-decoration: none;
            background-color: #bbc;
            outline: 0;
        }

        a:focus {
            background-color: $selection;
        }
    }
}

/* sidebar events */
.event {
    margin-bottom: 1.5em;

    p {
        margin: 0.15em;
    }
}

main img {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 100%;
    max-width: 620px;

    color: $fg-lighter;
    font-style: italic;

    &.aside {
        width: auto;
        float: right;
        margin: 0 3em 3em 3em;
    }
}

blockquote {
    margin: 1.5em 0 1.5em 0;
    padding: 1.5%;
    background: $bg-lgrey;

    p {
        margin: 0;
        padding: 0;
    }
}

