$bg-red:     #d40000;
$bg-lgrey:   #d0d0e0;
$bg-dgrey:   #b0b0c0;
$fg:         #202020;
$fg-lighter: #505060;
$fg-red:     #d43737;
$selection:  #b3d4fc;
$fonts:      "Trebuchet MS", Arial, Helvetica, sans-serif;

