---
# Adding front matter because we want Liquid processing
layout: none
---
/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* base */
body {
    font: normal 100% "Trebuchet MS", Arial, Helvetica, sans-serif;
}

.publication-date {
    font-style: italic;
    margin-top: 0.5em;
    margin-bottom: 2em;
    margin-left: 1em;
    color: #556;
}

h2 {
    margin-bottom: 0.25em;
}

h3 {
    font-size: 130%;
}

.newsletter-summary {
    font-size: 115%;
    font-weight: bold;
}

a, a:visited {
    color: #d43737;
    text-decoration: none;
    font-weight: bold;
}

a:focus {
    background-color: #b3d4fc;
    outline: 3px solid #b3d4fc;
}

a:hover {
    text-decoration: underline;
}

kbd {
    background: #eee;
    border-radius: 3px;
    border: 1px solid #aaa;
    padding: 1px;
}

/* blog archive */
ul.blog-archive {
    padding-left: 1em;
    margin-bottom: 2em;
}

ul.blog-archive li {
    font-size: 110%;
    margin-bottom: 0.5em;
    list-style-type: none;
}

/* dl's (for concert programmes) */
dt {
    float: left;
    clear: left;
    width: 9em;
    font-weight: bold;
    text-align: right;
}

dd {
    float: left;
    margin-left: 1.25em;
    padding-bottom: 0.25em;
}

/* layout */
body {
    overflow-y: scroll;
}

.container {
    max-width: 56em;
    margin-left: auto;
    margin-right: auto;
    padding: 0 2em 0 2em;
}

ul.container {
    padding: 0;
}

header[role="banner"],
header img {
    background: #D40000;
    color: white;
}

footer {
    padding: 1em;
    background: #dde;
}

header h1 {
    margin: 0;
    padding-top: 0.6em;
}

header .logo {
    margin-left: 0;
}

header .tagline {
    font-style: italic;
    text-align: right;
    margin: 0;
    padding: 1em 0 0.5em 1em;
}

nav {
    background: #dde;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    background: #dde;
}

nav li {
    display: inline-block;
    margin: 0;
    padding: 0;
    text-align: center;
    text-decoration: none;
}

nav li a,
nav li a:visited {
    color: #222;
    display: inline-block;
    height: 2em;
    line-height: 2em;
    text-decoration: none;
}

nav li a {
    padding-left: 1em;
    padding-right: 1em;
}

nav li a:hover,
nav li a:focus {
    text-decoration: none;
    background-color: #bbc;
    outline: 0;
    color: #222;
}

nav li a:focus {
    background-color: #b3d4fc;
}

main img {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

main img.full {
    width: 100%;
    max-width: 620px;
}

.aside {
    float: right;
    margin: 0 3em 3em 3em;
}

blockquote {
    margin: 1.5em 0 1.5em 0;
    padding: 1.5%;
    background: #dde;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screen readers: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   ========================================================================== */

@media only screen and (min-width: 33em) {
    .container {
        padding: 0 4em 0 4em;
    }
    ul.container {
        padding: 0 2em 0 2em;
    }
}

@media only screen and (min-width: 42em) {
    header .logo {
        float: left;
        margin-left: 0;
    }

    header .logo-text {
        background-image: url({{ site.assets }}/img/eums-logo-text.png);
        background-repeat: no-repeat;
        /* copy dimensions from the image; for some reason it disappears unless
         * these are present */
        width: 354px;
        height: 83px;
    }

    .quotes blockquote {
        float: left;
        /* don't ask me where the extra 6% goes */
        margin: 1.5%;
        padding: 1.5%;
        width: 43%;
    }
}

@media only screen and (min-width: 64em) {
    .container, ul.container {
        padding: 0;
    }

    .col {
        float: left;
        padding-right: 2em;
    }

    .col-one {
        width: 620px;
        max-width: 80%;
    }

    .col-two {
        width: 25%;
        margin: 1em 0 1em 0;
        padding: 0.5em;
        background-color: #dde;
        float: right;
        border-top: 5px solid #d40000;
    }

    .col-two h3:first-child {
        margin-top: 0.2em;
    }
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
