/* ==========================================================================
   Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   ========================================================================== */

@media only screen and (max-width: 33em) {

    nav label {
        text-align: right;
        padding: 0.5em 2em 0.5em 2em;
        font-weight: bold;

        i {
            margin-left: 0.2em;
        }
    }

    .menu {
        display: none;
        opacity: 0;
        width: 100%;
        position: absolute;
        right: 0;

        li {
            display: block;
            width: 100%; margin: 0;

            a {
                display: block;
                width: 100%;
                text-decoration: none;
                -webkit-box-sizing: border-box;
                -moz-box-sizing: border-box;
                box-sizing: border-box;
            }
        }
    }

    .toggle {
        display: block;
        position: relative;
        cursor: pointer;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        user-select: none;

        &:after {
            content: attr(data-close)
        }
    }

    .toggle:after{
    }

    .toggle { display: block; }
    #toggle:checked + nav .menu {
        display: block;
        opacity: 1;

    }

    #toggle:checked + nav .toggle:after {
        content: attr(data-open)
    }
}

@media only screen and (min-width: 33em) {
    #nav-search { display: none; }
    #header-search {
        display: block;
        float: right;
    }

    nav, nav ul:last-child {
        border-bottom: none;
    }

    .search-form {
        padding: 1em 0 0 0;
    }

    header[role="banner"] {
        .tagline {
            padding-top: 0.3em;
        }
    }

    .container {
        padding: 0 4em 0 4em;
    }
    ul.container {
        padding: 0 2em 0 2em;
    }

  .concert-programme {
    .item:not(:last-child) {
      padding-bottom: 0.4em;
    }

    .composer, .piece {
      float: left;
    }

    .composer {
      text-align: right;
      margin-right: 1em;
      width: 20%;
    }
  }
}

@media only screen and (min-width: 42em) {
    header .logo {
        float: left;
        margin-left: 0;
    }

    header[role="banner"] {
        .search-form {
            margin-top: 0;
        }

        .logo-text {
            @include svg-background('/assets/img/eums-logo-text.svg', '/assets/img/eums-logo-text.png');
            background-repeat: no-repeat;
            background-size: 354px 83px;
            width: 354px;
            height: 83px;
        }

        ul.ensembles-menu {
            display: block;
            list-style-type: none;
            margin: 0;
            padding: 0.5em 0 0.3em 0;

            a, a:visited {
                color: white;
                font-weight: normal;
                padding: 0.3em 3em 0.3em 0.4em;
                text-transform: uppercase;
                font-size: 0.9em;
                letter-spacing: 3px;
            }

            a:hover {
                text-decoration: none;
                background-color: $bg-lred;
                color: $bg-red;
            }

            li {
                margin: 0;
                padding: 0;
                display: inline-block;
            }
        }
    }

    .quotes blockquote {
        /* don't ask me where the extra 5% goes */
        margin: 1.5%;
        padding: 1.5%;
        width: 45%;
    }

    .quotes blockquote.quote-left {
        float: left;
        margin-left: 0;
    }

    .quotes blockquote.quote-right {
        float: right;
        margin-right: 0;
    }

    .committee-members .cell {
        float: left;
        padding: 0.2em 0.4em 0.2em 0.4em;
        width: 25%;
    }

    footer .links-grid {
        @include svg-background('/assets/img/eums-logo.svg', '/assets/img/eums-logo.png');
        background-size: 146px 83px;
        padding-left: 27%;
    }
}

@media only screen and (min-width: 64em) {
    .container, ul.container {
        padding: 0;
    }

    .col {
        float: left;
    }

    .col-one {
        width: 628px;
        max-width: 80%;
        padding-right: 2em;
    }

    main img.bordered {
        // this overrides the mobile width of 98%, which accounts for the
        // border while the image has been resized to fix a thinner viewport.
        width: 100%;
    }

    .col-two {
        display: block;
        float: right;
        width: 28%;
        margin: 0 0 1em 0;
        padding: 0;
        border-top: 0;

        .box {
            padding: 0.6em;
            margin-bottom: 1em;
            background-color: $bg-lgrey;
        }

        h3:first-child {
            margin-top: 0.2em;
        }

        ul {
            padding-left: 1.25em;
        }
    }
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

