/* base */
body {
    font: normal 100% "Trebuchet MS", Arial, Helvetica, sans-serif;
}

.publication-date {
    font-style: italic;
    margin-top: 0.5em;
    margin-bottom: 2em;
    margin-left: 1em;
    color: $fg-lighter;
}

h2 {
    font-size: 170%;
    margin-bottom: 0.25em;
}

h3 {
    font-size: 130%;
}

h4 {
    margin-bottom: 0.4em;
}

.newsletter-summary {
    font-size: 115%;
    font-weight: bold;
}

a, a:visited {
    color: $fg-red;
    text-decoration: none;
    border-bottom: 1px solid $fg-red;
    font-weight: bold;
}

a:focus {
    background-color: $selection;
    outline: 3px solid $selection;
}

a:hover {
    color: $fg-dred;
    border-bottom: 1px solid $fg-dred;
}

.hero {
    font-size: 150%;
    text-align: center;
}

kbd {
    background: $bg-lgrey;
    border-radius: 3px;
    border: 1px solid $bg-dgrey;
    padding: 1px;
}

.child-outline:focus {
    outline: none;

    * {
        background-color: $selection;
        outline: 3px solid $selection;
    }
}

/* image link tiles */
.image-link-tiles {
    margin: 1.5em 0 1.5em 0;
}

a.tile {
    display: block;
    border: 4px solid $bg-dgrey;
    height: 200px;
    position: relative;
    background-position: top;

    &:not(:first-child) {
        margin-top: 1em;
    }

    .caption {
        background-color: rgba(0, 0, 0, 0.6);
        padding: 1em;
        position: absolute;
        bottom: 0;
        width: 100%;
        box-sizing: border-box;

        h3, p {
            color: white;
            margin: 0;
            padding: 0;
        }

        p {
            font-weight: normal;
            font-size: 0.9em;
        }
    }
}

.tile-get-involved {
    background: url(/assets/img/tiles/get-involved.jpg);
}

.tile-whats-on {
    background: url(/assets/img/tiles/whats-on.jpg);
}

.tile-community {
    background: url(/assets/img/tiles/community.jpg);
}

.tile-venues {
    background: url(/assets/img/tiles/venues.jpg);
}

.tile-past-concerts {
    background: url(/assets/img/tiles/past-concerts.jpg);
}

.tile-concert-faqs {
    background: url(/assets/img/tiles/concert-faqs.jpg);
}

.tile-support-individual {
    background: url(/assets/img/tiles/support-individual.jpg);
}

a.tile.tile-support-corporate {
    background: url(/assets/img/tiles/support-corporate.jpg);
    background-position: left;
}

/* past concerts gallery */
.gallery-image {
    display: block;
    float: left;
    width: 150px;
    height: 150px;
    border: 4px solid $bg-dgrey;

    margin: 15px 15px 0 0;
}

/* blog archive */
ul.blog-archive {
    padding-left: 1em;
    margin-bottom: 2em;
}

ul.blog-archive li {
    font-size: 110%;
    margin-bottom: 0.5em;
    list-style-type: none;
}

/* concert programmes */
.concert-programme {
	margin: 1.2em 0 1.2em 2em;

	.composer {
		font-weight: bold;
	}

    .item:not(:last-child) {
      padding-bottom: 0.8em;
    }
}

/* committee */
.committee-members {
    border: 1px solid $bg-lgrey;

    .row {
        padding: 0.25em;
    }

    .row:nth-child(odd) {
        background-color: $bg-lgrey;
    }
}

/* events on What's On page */
.whats-on-events > div {
    margin: 1.5em 0 0 0;
}

.whats-on-event > div {
    margin: 0.15em 0 0 0;
}

.whats-on-events h3 {
    margin: 0;
}

/* Recent posts on homepage */
.recent-post {
    margin: 2em 0 2em 0;

    h3 { margin-bottom: 0.5em; }
    p { margin-top: 0.5em; }
}

/* layout */
body {
    overflow-y: scroll;
}

.container {
    max-width: 58em;
    margin-left: auto;
    margin-right: auto;
    padding: 0 2em 0 2em;
}

ul.container {
    padding: 0;
}

.col-two {
    // don't display on mobile
    display: none;
}

#nav-search { display: block; }
#header-search { display: none; }

.search-form {
    color: $fg;
    padding: 0.5em;

    input {
        border-radius: 0.7em;
        border: none;
        padding: 0 2em 0 1em;
    }
}

.not-found-search input,
.search-page-search input {
    border: 2px solid $bg-red;
}

.search-page-search {
  padding-bottom: 0.6em;
}

#search-results em {
    color: $fg-lighter;
}

.search {
    @include svg-background('/assets/img/search.svg', '/assets/img/search.png');
    background-position: top 50% right 3%;
}

header[role="banner"] {
    background: $bg-red;
    color: white;

    ul.ensembles-menu {
        display: none;
    }

    .logo-image {
        @include svg-background('/assets/img/eums-logo.svg', '/assets/img/eums-logo.png');
        background-size: 146px 83px;
        background-repeat: no-repeat;
        float: left;
        width: 146px;
        height: 83px;
    }

    a, a:visited {
        border-bottom: none;
    }

    h1 {
        margin: 0;
        padding-top: 0.6em;
        width: 100%;

        a:focus {
            outline: none;

            span.logo-image {
                outline: 3px solid $selection;
            }
        }
    }

    .logo {
        margin-left: 0;
    }

    .tagline {
        clear: both;
        font-style: italic;
        text-align: right;
        margin: 0;
        padding: 1em 0 1em 1em;
    }

    .search-form {
        margin-top: 2.9em;
    }
}

/* footer */
html {
    position: relative;
    min-height: 100%;
}

body {
    margin: 0 0 $footer-height;
}

main:after {
    padding-bottom: 2em;
}

footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: $footer-height;
    width: 100%;
    clear: both;
    background: $bg-lgrey;

    .container {
        padding: 1em;
    }

    a, a:visited {
        color: $fg;
        border-bottom: 1px solid $fg;
    }

    a:hover {
        color: $fg-lighter;
        border-bottom: 1px solid $fg-lighter;
    }

    .links-grid {
        margin-bottom: 2em;

        ul {
            margin: 0;
            padding: 0;
            float: left;
            width: 32%;
            height: 7em;
            font-size: 90%;

            list-style-type: none;
        }
    } 

    p {
        margin: 0.2em;
    }
}

/* main nav bar */
#toggle, .toggle { display: none; }

nav {
    background: $bg-lgrey;
    position: relative;
    z-index: 2;

    ul {
        list-style: none;
        margin: 0;
        padding: 0;
        background: $bg-lgrey;

        &:last-child {
            border-bottom: 1px solid $bg-dgrey;
        }
    }

    li {
        display: inline-block;
        margin: 0;
        padding: 0;
        text-align: center;

        a, a:visited {
            color: $fg;
            display: inline-block;
            height: 2em;
            line-height: 2em;
            text-decoration: none;
            padding-left: 1em;
            padding-right: 1em;
            border-bottom: none;
        }

        a:hover {
            border-bottom: none;
            background-color: #bbc;
            outline: 0;
        }

        a:focus {
            background-color: $selection;
        }
    }
}

/* sidebar events */
.event {
    margin-bottom: 1.5em;

    p {
        margin: 0.15em;
    }
}

main {
    margin-top: 2em;
}

.col.col-one > *:first-child {
    margin-top: 0;
}

.col.col-one h2:first-child {
    margin-top: 0;
}

main img,
.image-fader-container {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 100%;
    max-width: 620px;

    color: $fg-lighter;
    font-style: italic;

    &.aside {
        width: auto;
        height: auto;
        max-width: 100%;
        float: right;
        margin: 0 3em 3em 3em;
    }

    &.centred {
        width: auto;
        height: auto;
        max-width: 100%;
    }

    &.bordered {
        border: 4px solid $bg-dgrey;
        width: 98%;
    }
}

.image-fader-container {
    border: 4px solid $bg-dgrey;
}

.image-fader {
    position: relative;

    img {
        position: absolute;
        top: 0;
        left: 0;
    }
}

.sidebar-image-link {
    margin-bottom: 1em;
}

blockquote {
    margin: 1.5em 0 1.5em 0;
    padding: 1.5%;
    background: $bg-lgrey;

    p {
        margin: 0;
        padding: 0;
    }
}
