---
---
{% assign asset_base_uri = "https://1ed1fabde45aa32e0f1155aa7d8a86b1b5a88703.googledrive.com/host/0BxsJMhlYrb4QRTFGSHJTMTRuOEU/" %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>EUMS | The Edinburgh University Music Society</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Scotland's foremost student music body since 1867. Society profile with details of concerts, community projects and membership.">
    <meta name="keywords" content="EUMS Edinburgh University Music Society Scotland Chorus Sinfonia Symphony Orchestra">
    <link rel="shortcut icon" href="/favicon.ico">

    <link rel="stylesheet" href="/assets/css/normalize.css">
    <link rel="stylesheet" href="/assets/css/main.css">
  </head>
  <body>
	{% include header.html %}
	{% include navigation.html %}
    <main role="main" class="container">
      {{ content }}
    </main>
  </body>
</html>
